.header {
  width: 100%;
  height: 210px;
  background-color: white;
  padding: 10px;
  display: flex;
  flex-wrap: wrap; /* Add this to allow the navbar to wrap to the next line on smaller screens */
}

.topmenu {
  width: 55%;
  display: flex;
  list-style: none;
  padding: 65px 0px;
  gap: 50.5px;
  justify-content: center;
  margin-left: 100px;
  margin-right: 40px;
}

.topmenu li a {
  position: relative;
  font-family: 'Poppins';
  font-size: 20px;
  color: #212121;
  text-decoration: none;
  padding: 10px;
  font-weight: 500;
  letter-spacing: 0.1em;
}

.topmenu li a:hover {
  position: relative;
  font-family: 'Poppins';
  font-size: 20px;
  color: #54B435;
  text-decoration: none;
  padding: 10px;
  font-weight: 500;
  letter-spacing: 0.1em;

}

.topmenu li a::before {
  content: '';
  position: absolute;
  margin-top: 35px;
  margin-left: -7px;
  width: 93.5%;
  height: 2px;
  background: #54B435;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
  transform-origin: right;
}

.topmenu li a:hover::before {
  color: #54B435;
  font-weight: 500;
  font-size: 20px;
  transform: scaleX(1);
  transform-origin: left;

}

.cart{
  padding: 65px 25px;
  cursor: pointer;
  
}

.iconCart{
  color: var(--primary);
}

.cartIcon {
  color: var(--primary); /* Warna ikon cart */
  font-size: 24px; /* Atur ukuran ikon keranjang */
  /* Efek transisi untuk perubahan warna */
  transition: color 0.3s;
}

.cartIcon:hover {
  color: #A5D595; /* Warna ikon cart saat dihover */
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.topnav .icon {
  display: none;
}

/* Add this media query to adjust the navbar on smaller screens */
@media screen and (max-width: 1200px) {
  .topmenu {
     width: 80%;
     margin-left: 50px;
     margin-right: 20px;
   }
 }
 
 @media screen and (max-width: 900px) {
  .topmenu {
     width: 100%;
     flex-direction: column; /* Change the direction to column on smaller screens */
     align-items: center;
     margin-left: 0;
     margin-right: 0;
   }
  .topmenu li {
     margin-bottom: 20px; /* Add some margin between menu items */
   }
 }
 
 .cart {
   padding: 65px 25px;
   cursor: pointer;
 }
 
 .iconCart {
   color: var(--primary);
 }
 
 .cartIcon {
   color: var(--primary);
   font-size: 24px;
   transition: color 0.3s;
 }
 
 .cartIcon:hover {
   color: #A5D595;
 }
 
 /* Add this media query to adjust the cart icon on smaller screens */
 @media screen and (max-width: 600px) {
  .cart {
     padding: 20px 10px;
   }
  .cartIcon {
     font-size: 18px;
   }
 }