.card-img-top2 {
    width: 108%;
    height: 106%;
    margin-left: -12px;
}

.btn-primary {
    font-size: large;
}

.approved-icon {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .approved-icon span {
    margin-left: 5px;
    font-weight: bold;
    color: green;
  }
  